.header {
    background-color: var(--white);
    position: relative;
    height: 66px;
    z-index: 100;
}
.container {
    max-width: 1252px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
}

.hide_for_desktop {
    display: none;
}

.logo {
    position: relative;
    color: var(--main-color);
    font-size: 24px;
    font-weight: 900;
    margin-right: 40px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav_main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 883.3px;
    width: 100%;
}

.linkMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 105px;
    position: relative;
}
.link_active,
.linkMenu > a:hover {
    transition: 250ms;
    color: var(--main-color);
}

/* display menu */
.opened {
    position: relative;
}
.muiBox {
    display: flex;
    align-items: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    cursor: pointer;
}

/* ----- nav_products start -----*/
.nav_products {
    position: absolute;
    top: 66px;
    bottom: 0px;
    left: 0px;
    /* max-width: 1251px;
    width: 100%; */
    height: 496px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    transition: 250ms;
}
.nav_titles {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 237px;
    width: 100%;
    padding: 24px 16px;
    background: linear-gradient(rgb(45, 106, 224) 0%, rgb(29, 80, 213) 100%);
    border-bottom-left-radius: 8px;
    border-top: 1px solid #d0d0d0;
}
.nav_titles > h3 {
    color: #fff;
    opacity: .6;
    padding: 16px;
    margin: 0;
    cursor: pointer;
    transition: 250ms;
}
.nav_active::before,
.nav_titles > h3:hover::before {
    content: '';
    position: absolute;
    margin-top: 7px;
    left: 196px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
}
.nav_titles > .nav_active,
.nav_titles > h3:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
/* ----- nav_products end -----*/

/* --------------- nav product _ right part start --------------- */
.nav_content {
    border-top: 1px solid #d0d0d0;
}
.nav_content > div {
    display: none;
}
.nav_content > .nav_open {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 496px;
    border-bottom-right-radius: 8px;
}
.nav_productAll {
    margin: 32px 24px 0;
    padding: 16px;
    background-color: #0098FF14;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.nav_productAll > div {
    display: flex;
    align-items: center;
}
.nav_productAll > div > figure {
    margin-right: 8px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    border: 1px solid #dfdfdfb6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_catchPhrase {
    line-height: 1.5;
}
.nav_catchPhrase > h4 {
    margin-bottom: 0;
    color: var(--darkestGrey);
    font-weight: 600;
}
.nav_catchPhrase > p {
    font-size: 14px;
    color: var(--darkGrey);
}
.nav_button {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    transition: 350ms;
}
.nav_button:hover {
    background-color: #0089e6;
}
/* ------------------ transition ------------------ */
.nav_productContainer {
    padding: 32px 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    font-size: 14px;
    color: var(--darkestGrey);
}
.nav_productCard > a {
    display: flex;
}
.nav_productCard > a > figure {
    background-color: var(--ligthGray);
    border: 1px solid #dfdfdfb6;
    border-radius: 4px;
    min-width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
.nav_productCard > a > figure > svg {
    height: 16px;
}
.nav_productCardContent {
    line-height: 1.5;
}
.nav_productCardContent:hover > h5 {
    transition: 350ms;
    color: var(--main-color);
}
.nav_productCardContent > p {
    color: var(--darkGrey);
    margin-top: 8px;
}
/* little trick for missing svg */
.yellowSquare {
    background-color: rgb(252, 160, 0);
}
.blueSquare {
    background-color: rgb(0, 152, 255);
}
.greenSquare {
    background-color: rgb(60, 181, 114);
}
.yellowSquare,
.blueSquare,
.greenSquare {
    width: 16px;
    height: 16px;
    border-radius: 4px;
}
/* little trick for missing svg */

/* ------------------ transition ------------------ */
.nav_products_options {
    padding: 24px;
    background-color: var(--domain-Secondary);
    border-bottom-right-radius: 8px;
    border-top: 1px solid #d0d0d0;
}
.nav_products_options > div > div > a > figure {
    background-color: #fff;
}
.nav_products_options > p {
    padding-bottom: 24px;
}
.nav_optionsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    font-size: 14px;
    color: var(--darkestGrey);
}
.svgDNS,
.svgDynDns {
    width: 16px;
    height: 16px;
    border-radius: 12px;
}
.svgDNS {
    background-color: rgb(71, 147, 247);
}
.svgDynDns {
    background-color: rgb(148, 111, 245);
}
/* --------------- nav product _ right part end --------------- */

/* ----- supportCollapseMenu start -----*/
.supportCollapseMenu {
    position: absolute;
    top: 66px;
    bottom: 0px;
    left: 123px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 592px;
    margin: 0 auto;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(rgb(45, 106, 224) 0%, rgb(29, 80, 213) 100%);
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 250ms;
}
.supportCollapseMenu > li {
    padding: 16px;
    transition: 250ms;
    cursor: pointer;
}
.supportCollapseMenu > li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
.supportCollapseMenu > li:hover::before {
    content: '';
    position: absolute;
    margin-top: 15px;
    right: 45px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
}
.supportCollapseMenu > li > p {
    margin-top: 8px;
    font-size: 12px;
    opacity: .8;
}
/* ----- supportCollapseMenu end -----*/

/* ----- aboutCollapseMenu start -----*/
.aboutCollapseMenu {
    display: flex;
    position: absolute;
    top: 66px;
    left: 0px;
    max-width: 1252px;
    /* width: 100%; */
    margin: 0 auto;
    padding: 32px 24px;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    color: var(--darkestGrey);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 250ms;
    border-top: 1px solid #d0d0d0;
}
.aboutCollapseMenu > figure > img {
    border-radius: 8px;
}
.aboutCollapseMenu > figure > figcaption {
    color: #fff;
    position: absolute;
    top: 60px;
    left: 50px;
}
.aboutCollapseMenu > figure > figcaption > p:first-child {
    font-weight: 600;
    margin-bottom: 8px;
}
.aboutCollapseMenu > figure > figcaption > p:last-child {
    font-size: 14px;
}
.aboutCollapseMenu > ul > div {
    margin-left: 40px;
}
.aboutCollapseMenu > ul > div:not(:last-child) {
    border-right: 1px solid #d0d0d0;
}
.aboutCollapseMenu > ul > div > h3 {
    margin-bottom: 16px;
}
.aboutCollapseMenu > ul > div > ul {
    flex-direction: column;
    padding-right: 60px;
    gap: 16px;
}
.aboutCollapseMenu > ul > div > ul > li {
    color: var(--darkGrey);
    font-size: 14px;
    transition: 250ms;
}
.aboutCollapseMenu > ul > div > ul > li:hover {
    color: var(--main-color);
}
/* ----- aboutCollapseMenu end -----*/
@media screen and (max-width: 1253px) {
    .container {
        padding: 0 15px;
        margin: 0;
    }
    .nav_catchPhrase > h4 {
        font-size: 16px;
        font-weight: 600;
    }
}

@media screen and (max-width: 1000px) {
    .nav {
       height: 100%;
    }
    .nav_mobile_open {
        display: block;
        overflow: scroll;
        opacity: 1;
        visibility: visible;
        height: 100vh;
    }
    .container {
        height: 60px;
    }
    .hide_for_mobile {
        display: none;
    }
    .hide_for_desktop {
        display: block;
    }
    .imgContainer {
        display: none;
    }
    .toggleContainer {
        position: relative;
        height: 120vh;
        background: linear-gradient(rgb(45, 106, 224) 0%, rgb(29, 80, 213) 100%);
    }

    .nav_mobile,
    .nav_titlesMobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        padding: 16px;
        color: var(--white);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }
    /* ------------------------------------------------ */
    .nav_titlesMobile {
        background-color: var(--darker-blue);
        border-bottom: transparent;
    }
    .nav_titlesMobile > h3 {
        font-weight: 500;
    }
    .nav_aboutMobile,
    .nav_supportMobile,
    .nav_productsMobile,
    .nav_content {
        max-height: 0;
        height: 100%;
        overflow: hidden;
        animation: smoothly 1s linear;
        animation-fill-mode: forwards;
    }
    @keyframes smoothly {
        0% {
            max-height: 0px;
        }
        100% {
            max-height: 100vh;
            height: auto;
        }
    }
    .nav_productContainer {
        margin: 16px;
        padding: 0;
    }
    .nav_productAll > figure {
        margin-right: 8px;
        background-color: #fff;
        width: 32px;
        height: 32px;
        border: 1px solid #dfdfdfb6;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav_productAll {
        display: flex;
        justify-content: flex-start;
        margin: 16px;
    }
    .nav_productAll > div {
        flex-direction: column;
    }
    .nav_productCardContent > p {
        display: none;
    }
    .nav_button {
        margin-top: 10px;
        align-self: start;
    }
    .nav_content > .nav_open {
        height: auto;
        border-bottom-right-radius: 0;
    }
    /* ----- supportCollapseMenu start -----*/
    .supportCollapseMenu {
        display: none !important;
    }
    .nav_supportMobile {
        background-color: var(--white);
        color: var(--darkestGrey);
        font-size: 16px;
        font-weight: 600;
    }
    .nav_supportMobile > li {
        padding: 16px;
        cursor: pointer;
    }
    .nav_supportMobile > li > p {
        margin-top: 8px;
        font-size: 12px;
        opacity: .8;
    }
    /* ----- supportCollapseMenu end -----*/

    /* ----- aboutCollapseMenu start -----*/
    .nav_aboutMobile {
        padding: 16px;
        font-size: 16px;
        font-weight: 400;
        background: var(--white);
        color: var(--darkestGrey);
        position: relative;
    }
    .nav_aboutMobile > figure > img {
        border-radius: 8px;
    }
    .nav_aboutMobile > figure > figcaption {
        color: #fff;
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .nav_aboutMobile > figure > figcaption > p:first-child {
        font-weight: 600;
        margin-bottom: 8px;
    }
    .nav_aboutMobile > figure > figcaption > p:last-child {
        font-size: 14px;
    }

    .nav_aboutMobile > ul > div:not(:last-child) {
        border-bottom: 1px solid #d0d0d0;
        padding-bottom: 24px;
    }
    .nav_aboutMobile > ul > div > h3 {
        margin: 25px 0;
    }
    .nav_aboutMobile > ul > div > ul > li {
        margin-bottom: 23px;
        color: var(--darkGrey);
        font-size: 14px;
    }
    /* ----- aboutCollapseMenu end -----*/

    /* arrow */
    .arrowUp {
        transform: rotate(180deg);
        transition: all 0.5s ease;
    }

    .arrowDown {
        transform: rotate(0deg);
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 800px) {
    .nav_productContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .nav_productContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .nav_productContainer {
        grid-template-columns: 1fr;
    }
}
