.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1224px;
    height: 66px;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    z-index: 100;
    position: relative;
}

.hide_for_desktop {
    display: none;
}

.logo {
    position: relative;
    color: var(--main-color);
    font-size: 24px;
    font-weight: 900;
    margin-right: 40px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
}

.linkMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 105px;
    position: relative;
    transform: 250ms;
}

.linkMenu::after {
    content: "";
    position: absolute;
    top: 63px;
    left: 54px;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    opacity: 0;
    background-color: var(--main-color);
    transition: all 0.2s ease;
}

.linkMenu:hover.linkMenu::after {
    width: 57px;
    opacity: 1;
}

/* display menu */
.linkMenu:hover > .collapseMenu,
.linkMenu:hover > .aboutCollapseMenu,
.linkMenu:hover > .supportCollapseMenu {
    display: flex;
}
/* display menu */

.muiBox,
.muiBox > button,
.muiBox > div {
    display: flex;
    align-items: center;
}

.auth > a {
    padding: 0 12px;
}

.auth > a:first-child {
    color: var(--main-color);
}

.auth > a:nth-child(2) {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    color: #fff;
    min-height: 66px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    transition: 350ms;
    min-height: 66px;
}

.imgContainer:hover {
    background-color: var(--ligthGray);
}

/* display menu */
.linkMenu > ul {
    display: none;
}
/* display menu */


/* ----- collapse Menu -----*/
.collapseMenu,
.aboutCollapseMenu,
.supportCollapseMenu {
    position: absolute;
    top: 66px;
    bottom: 0px;
    right: 0px;
    left: -176px;
    display: flex;
    flex-direction: column;
    width: 1224px;
    height: 743px;
    margin: 0 auto;
    padding: 28px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(rgb(45, 106, 224) 0%, rgb(29, 80, 213) 100%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.aboutCollapseMenu {
    height: 660px;
}

.aboutCollapseMenu > li > p,
.supportCollapseMenu > li > p {
    line-height: 18px;
}

.supportCollapseMenu {
    left: -148px;
    width: 426px;
}

.supportCollapseMenu {
    height: 426px;
}

.collapseMenu > li,
.aboutCollapseMenu > li,
.supportCollapseMenu > li {
    display: flex;
    color: #fff;
    justify-content: flex-start;
    transform: 350ms;
}

.collapseMenu > li {
    padding: 18px 25px;
}

.aboutCollapseMenu > li,
.supportCollapseMenu > li {
    padding: 14px 25px;
}

.collapseMenu > li:hover {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 8px;
    width: 245px;
}

.menuContainer {
    position: absolute;
    width: 920px;
    left: 305px;
    top: 0;
    color: black;
}

.leftMenu {
    background-color: #fff;
    height: 752px;
    border-bottom-right-radius: 8px;
}

/* ----- Left Menu x2 -----*/

.vignette > a > h5 {
    display: flex;
    align-items: center;
}

.leftMenu {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 22px;
    color: var(--darkestGrey);
    font-weight: 500;
    border-bottom-right-radius: 8px;
}

.bigMenu {
    grid-template-columns: 100%;
}

.leftMenu > div > p,
.leftMenu > div > div > p {
    margin-bottom: 25px;
}

.sideMenu::after,
.sideMenu2::after {
    content: "";
    position: absolute;
    top: 96px;
    left: 661px;
    width: 1px;
    height: 647px;
    background-color: var(--ligthGray);
}

.threeColumnsMargin::before {
    content: "";
    position: absolute;
    height: 344px;
    top: 162px;
    left: 298px;
    width: 1px;
    background-color: var(--ligthGray);
}
.threeColumnsMargin::after {
    content: "";
    position: absolute;
    height: 344px;
    top: 162px;
    left: 588px;
    width: 1px;
    background-color: var(--ligthGray);
}

.logoKsuite {
    margin-right: 10px;
}

.vignette {
    border-radius: 8px;
    padding: 22px 5px 22px 22px;
    transition: 150ms;
    cursor: pointer;
    width: 198px;
}

.vignette:hover {
    background-color: var(--ligthGray);
    border-radius: 8px;
}

.vignette > a > p {
    margin-top: 15px;
    font-size: 14px;
}

.threeColumns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.leftMenu > div > div > .columsContainer {
    grid-template-columns: 32% 32% 32%;
    grid-gap: 12px;
    height: 446px;
}

.collapseMenu > li:nth-child(8) > .menuContainer .leftMenu > div > div > .threeColumns {
    grid-template-columns: 32% 32% 32%;
}

.collapseMenu > li:nth-child(8) > .menuContainer .leftMenu > div > div > .threeColumns > .vignette {
    width: 216px;
}

.threeColumnsMargin {
    margin-left: 12px;
}

.threeColumnsMargin > div {
    padding-right: 50px;
}

/* svg styling */
.vignette > a > h5 > svg,
.twoFloors > div > h3 > svg,
.svgGuests {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.svgFolder {
    fill: var(--main-color);
}

.svgMail,
.svgInfrastructure,
.svgTicket {
    fill: rgb(230, 4, 34);
}

.svgChat,
.svgNas {
    fill: rgb(0, 136, 178);
}

.svgEarth {
    fill: rgb(120, 133, 203);
}

.svgWeb,
.svgPrivacy,
.svgVOD {
    fill: rgb(4, 179, 212);
}

.svgWordPress,
.svgRenewal,
.svgNewsletter {
    fill: rgb(12, 153, 214);
}

.svgCreator {
    fill: rgb(78, 189, 245);
}

.svgCloud {
    fill: rgb(99, 112, 235);
}

.svgPCloud,
.svgServeur {
    fill: rgb(0, 86, 131);
}

.svgJCloud,
.svgRadio,
.svgEvents {
    fill: rgb(40, 115, 231);
}

.svgBackup {
    fill: rgb(56, 75, 100);
}

.svgSSL,
.svgMeet {
    fill: rgb(70, 203, 133);
}

.svgDNS,
.svgDynDns {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    margin-right: 10px;
}

.svgDNS {
    background-color: rgb(71, 147, 247);
}

.svgDynDns {
    background-color: rgb(148, 111, 245);
}

.svgGuests {
    fill: rgb(197, 149, 205);
}

.svgTV {
    fill: rgb(255, 142, 98);
}

.yellowSquare {
    background-color: rgb(252, 160, 0);
}

.blueSquare {
    background-color: rgb(0, 152, 255);
}

.greenSquare {
    background-color: rgb(60, 181, 114);
}

.yellowSquare,
.blueSquare,
.greenSquare {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 10px;
}

/* svg styling */
.info,
.info2 {
    background-color: var(--tag);
    color: #fff;
    font-size: 9px;
    border-radius: 25px;
}

.info {
    padding: 3px 8px;
    margin-left: 10px;
}

.info2 {
    padding: 1px 8px;
    margin-right: 4px;
}

/* display menu start */
.leftMenu,
.aboutContainer {
    display: none;
}

.leftMenu {
    height: 647px;
}

.collapseMenu > li:hover .leftMenu,
.aboutCollapseMenu > li:hover .aboutContainer,
.supportCollapseMenu > li:hover .aboutContainer {
    display: grid;
}

.linkMenu:hover > .collapseMenu > li:first-child .leftMenu,
.linkMenu:hover > .aboutCollapseMenu > li:first-child > .aboutContainer {
    display: grid;
}

.menu a:hover ~ .collapseMenu > li:first-child,
.menu a:hover ~ .aboutCollapseMenu > li:first-child,
.menu a:hover ~ .supportCollapseMenu > li:first-child {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 8px;
    width: 248px;
}

.menu a:hover ~ .aboutCollapseMenu > li:first-child {
    width: 347px;
}

.menu a:hover ~ .supportCollapseMenu > li:first-child {
    width: 370px;
}
/* display menu end */

.actions > p:first-child {
    margin-top: 40px;
}

.actions > p {
    display: flex;
    font-size: 14px;
    padding-bottom: 19px;
}

.action > p > figure {
    justify-content: center;
    align-items: center;
}

.read {
    margin-top: 80px;
}

.read > h6 {
    margin-bottom: 30px;
}

.pictureInfomaniak {
    width: 180px;
    height: 88px;
    border-radius: 8px;
    background-color: var(--main-color);
}

.read > p {
    font-size: 12px;
    margin: 20px 0 20px;
}
.read > a {
    color: var(--main-color);
    font-size: 13px;
}

.services > a > p:hover {
    text-decoration: underline;
}

.info2 {
    position: relative;
}

.info2:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 7px;
    width: 80%;
    height: 2px;
    background-color: var(--tag);
}

.services > a > p {
    font-size: 14px;
    margin-bottom: 25px;
}

/* web et cloud */
.twoFloors > div > h3 > svg {
    width: 25px;
    height: 25px;
}

.twoFloors > div > p {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.twoFloors > div > a {
    font-size: 14px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.twoFloors > div > .blueButton {
    background-color: var(--main-color);
    transition: 250ms;
}

.twoFloors > div > .pinkButton {
    background-color: var(--tag);
    transition: 250ms;
}

.twoFloors > div > .blueButton:hover,
.twoFloors > div > .pinkButton:hover {
    background-color: rgb(22, 58, 150);
}

.columsContainer {
    background-color: var(--ligthGray);
    padding: 22px;
    margin-top: 30px;
    border-radius: 10px;
    margin-right: 39px;
}

.columsContainer > div > h3 {
    margin-bottom: 30px;
    font-size: 14px;
}

.columsContainer > div > .vignette {
    padding: 12px 12px 12px 12px;
    margin-bottom: 18px;
}

.columsContainer > div > .vignette:hover {
    background-color: #fff;
}

.longVignette > .vignette {
    width: 245px;
}

.columsContainer > div:nth-child(2) > .vignette:first-child,
.vignetteKChat {
    margin-top: 47px;
}

/* ksuite */
.logoKsuiteWhite {
    background-color: #fff;
    width: 28px;
    height: 28px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.twoFloors > div > h3 {
    display: flex;
    align-content: center;
}

/* billeterie */

.cultureContainer > p {
    font-size: 15px;
    margin-top: 26px;
}

.cultureContainer > .culture {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.cultureContainer > .culture > div > a {
    display: block;
    text-decoration: underline;
}

/* about us */
.menu > li:nth-child(2) > .aboutCollapseMenu {
    left: -281px;
}

.aboutContainer {
    position: absolute;
    top: 0;
    left: 401px;
    width: 824px;
}

.aboutCollapseMenu > li,
.supportCollapseMenu > li {
    display: block;
    line-height: 28px;
}

.aboutCollapseMenu > li:hover,
.supportCollapseMenu > li:hover {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 8px;
    width: 347px;
}

.aboutCollapseMenu > li > p,
.supportCollapseMenu > li > p {
    font-size: 11px;
}

.aboutContainer > blockquote {
    height: 660px;
    color: #fff;
    background-color: var(--main-color);
    display: block;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    padding-top: 252px;
    padding-right: 305px;
    padding-left: 60px;
}

.aboutContainer > figure > figcaption > blockquote {
    position: absolute;
    top: 0px;
    display: block;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    padding-top: 252px;
    padding-right: 305px;
    padding-left: 60px;
}

.aboutCollapseMenu > li:nth-child(3) > .aboutContainer > figure > figcaption > blockquote  {
    padding-right: 175px;
}

.aboutCollapseMenu > li:nth-child(4) > .aboutContainer > figure > figcaption > blockquote  {
    padding-right: 362px;
}

.aboutCollapseMenu > li:nth-child(5) > .aboutContainer > blockquote  {
    padding-right: 139px;
}

.aboutCollapseMenu > li:nth-child(6) > .aboutContainer > figure > figcaption > blockquote  {
    padding-right: 156px;
}

.aboutContainer > blockquote > svg,
.aboutContainer > figure > figcaption > blockquote > svg {
    fill: white;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 229px;
    left: 38px;
}

.aboutContainer > blockquote > cite,
.aboutContainer > figure > figcaption > blockquote > cite {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

/* partenaire et revendeurs */
.aboutContainer > figure > figcaption {
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.aboutContainer > figure > figcaption > a {
    background-color: rgba(68, 62, 55, .6);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    padding: 14px;
    margin-right: 12px;
}

.aboutContainer > figure > figcaption > a > h6 {
    color: #fff;
    font-weight: 600;
}

.aboutContainer > figure > figcaption > a > p {
    font-weight: 400;
    font-size: 14px;
}

.aboutContainer > figure > figcaption > a > p:nth-child(3) {
    font-size: 12px;
}

@media screen and (max-width: 1253px) {
    .hide_for_mobile {
        display: none;
    }

    .hide_for_desktop {
        display: block;
    }

    .toggleContainer {
        position: relative;
        overflow: auto;
        height: 100vh;
        background: linear-gradient(rgb(45, 106, 224) 0%, rgb(29, 80, 213) 100%);
    }

    .arrowUp {
        transform: rotate(180deg);
        transition: all 0.5s ease;
    }

    .arrowDown {
        transform: rotate(0deg);
        transition: all 0.5s ease;
    }

    .linkMenuMobile {
        color: white;
        width: 100%;
        min-height: 66px;
        cursor: pointer;
    }

    .linkMenuMobile > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 24px;
    }

    .linkMenuMobile:first-child,
    .linkMenuMobile:nth-child(2),
    .linkMenuMobile:nth-child(3) {
        border-bottom: .2px solid rgba(255, 255, 255, .3);
    }

    .linkMenuMobile > div > a {
        margin-left: 15px;
        font-weight: 600;
    }

    .linkMenuMobile > div > figure > svg {
        fill: white;
        margin-right: 15px;
    }

    .submenu {
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(rgb(45, 106, 224) 0%, rgb(29, 80, 213) 100%);
    }

    .submenu > div > li > div > figure > svg > path {
        fill: white;
    }

    .submenu > div > li {
        background-color: var(--dark-blue);
        padding: 22px 15px;
        display: flex;
        justify-content: space-between;
    }

    .kstyleFlex {
        display: flex;
        align-items: center;
    }
    /* subsubmenu START */


    .subContainer {
        background-color: #fff;
    }
    .subColumns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 30px 15px 0;
        grid-gap: 15px;
    }

    .vignette > a > h5 > svg,
    .twoFloors > div > h3 > svg,
    .svgGuests {
        width: 16px;
        height: 16px;
    }

    .vignette > a > h5 {
        color: var(--darkestGrey);
    }

    .vignette > a > p {
        color: var(--darkGrey);
        font-size: 13px;
        margin-bottom: 30px;
    }

    .vignette {
        padding: 0;
    }

    .vignette:hover {
        background-color: transparent;
    }

    .actionsContainer {
        padding: 25px 15px 15px;
        border-top: 1px solid var(--ligthGray);
    }

    .actions {
        color: var(--darkGrey);
    }

    .actions > p:first-child {
        margin-top: 20px;
    }
    /* other menu style */
    .services {
        color: var(--darkGrey);
    }
    .info,
    .info2 {
        font-size: 14px;
    }
    .services > a > p:hover {
        text-decoration: none;
    }
    .image {
        width: 22px;
        height: 22px;
        background-color: var(--ligthGray);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        margin-right: 5px;
    }
    .borderLeft {
        padding-left: 15px;
        border-left: 1px solid var(--ligthGray);
    }

    /* menu style whith title */
    .subTitles {
        color: var(--darkestGrey);
    }
    .subContainer > div {
        padding: 25px 15px 15px;
    }
    .subTitles > div > h3 {
        display: flex;
    }
    .subTitles > div > h3 > svg {
        margin-right: 10px;
    }
    .subTitles > div > p {
        color: var(--darkGrey);
        font-size: 12px;
        margin: 26px 0 22px;
    }
    .subTitles > div > a {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        padding: 8px 12px;
        border-radius: 5px;
    }
    .subTitles > div > .blueButton {
        background-color: var(--main-color);
        transition: 250ms;
    }
    .subTitles > div > .pinkButton {
        background-color: var(--tag);
        transition: 250ms;
    }
    .subTitles > div > .blueButton:hover,
    .subTitles > div > .pinkButton:hover {
        background-color: rgb(22, 58, 150);
    }
    .subColumns {
        padding: 0;
    }
    .subColumns > .subColumnsK {
        margin-top: 41px;
    }
    .subColumns > div > h3 {
        color: var(--main-color);
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 22px;
    }
    /* subsubmenu END */
    .secondSubmenu > .secondSubmenu_plus {
        background-color: white;
        color: var(--darkestGrey);
        padding: 15px;
    }

    .secondSubmenu > .secondSubmenu_plus > div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }

    .secondSubmenu > .secondSubmenu_plus > div > a {
        background-color: var(--ligthGray);
        border-radius: 8px;
        padding: 15px;
    }

    .secondSubmenu > .secondSubmenu_plus > div > a > h6 {
        color: var(--darkestGrey);
        font-weight: 600;
        font-size: 14px;
    }

    .secondSubmenu > .secondSubmenu_plus > div > a > p:nth-child(2) {
        color: var(--darkGrey);
        font-size: 12px;
        margin-bottom: 15px;
    }

    .secondSubmenu > .secondSubmenu_plus > div > a > p:nth-child(3) {
        color: var(--main-color);
        font-size: 11px;
    }

    .secondSubmenu > a > li,
    .thirdSubmenu > li {
        background-color: white;
        color: var(--darkestGrey);
        padding: 18px 15px;
    }

    .secondSubmenu > a > li > p,
    .thirdSubmenu > li > p {
        font-size: 13px;
        color: var(--darkGrey);
        padding-top: 10px;
    }

    .auth {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .auth > a {
        width: 171px;
        height: 92px;
        border-radius: 6px;
        font-weight: 500;
        transition: 250ms;
        padding: 22px;
        text-align: center;
    }

    .auth > a:first-child,
    .auth > a:nth-child(2) {
        background-color: #fff;
        color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth > a:first-child:hover,
    .auth > a:nth-child(2):hover {
        background-color: var(--ligthGray);
    }
}

@media screen and (max-width: 959px){
    .secondSubmenu > .secondSubmenu_plus > div {
        max-width: 422px;
    }
}

@media screen and (max-width: 676px){
    .subColumns {
        grid-template-columns: 1fr;
    }
    .borderLeft {
        padding-left: 0;
        border-left: none;
    }
}

@media screen and (max-width: 378px){
    .auth {
        flex-direction: column;
        gap: 10px;
    }
}
