.container {
    position: absolute;
    top: 17px;
    right: 200px;
    width: 34px;
    height: 34px;
    border-radius: 0 4px 4px 0;
    overflow: hidden;
    transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
    border-left: none;
}
.container > input {
    border: none;
    outline: none;
    width: calc(100% - 64px);
    height: 100%;
    border-radius: 4px 0 0 4px;
    margin-left: 14px;
    pointer-events: none;
    background-color: var(--ligthGray);
}
.containerMobile > input::placeholder,
.container > input::placeholder {
    font-size: 14px;
}
.containerMobile > input[type='text'],
.container > input[type='text'] {
    color: var(--darkestGrey);
}
.search {
    display: flex;
}
.search > svg {
    padding-right: 8px;
}
.control {
    display: flex;
    align-items: center;
    border-radius: 0 4px 4px 0;
    padding: 8px 8px 8px 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.control > .searchClose > span {
    display: flex;
    width: 20px;
    height: 1px;
    border: 1px solid var(--darkGrey);
    border-radius: 5px;
    cursor: pointer;
}
.control > .searchClose > span:first-child {
    transform: rotate(-45deg) translate(1px, 3px);
}
.control > .searchClose > span:nth-child(2) {
    transform: rotate(45deg) translate(1px, -2px);
}
.searchClose {
    display: none;
}

/* anim */
.opened {
    width: calc(100% - 370px);
    background-color: var(--ligthGray);
    border: 1px solid #dfdfdfb6;
}
.opened > input {
    pointer-events: initial;
}
.opened > .control > .searchClose {
    display: block;
}
/* anim close  */
.container:not(.opened) {
    transition: none;
}

@media screen and (max-width: 1000px) {
    .containerMobile {
        position: relative;
    }
    .containerMobile > input {
        margin: 0;
        height: 56px;
        width: 100%;
        padding: 16px 0 16px 16px;
        outline: none;
        border: 1px solid #dfdfdfb6;
        background-color: var(--ligthGray);
    }
    .control {
        top: 12px;
    }
}
