.container {
    position: relative;
    display: flex;
}
.container > input {
    height: 34px;
    padding: 8px 0 8px 8px;
    border-radius: 4px 0 0 4px;
    background-color: var(--ligthGray);
    border: 1px solid #dfdfdfb6;
    border-right: transparent;
    outline:none;
    /* display: none; */
}
.container > input::placeholder {
    font-size: 14px;
}
.container > input[type='text'] {
    color: var(--darkestGrey);
}
.control {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 4px 0;
    background-color: var(--ligthGray);
    border: 1px solid #dfdfdfb6;
    border-left: transparent;
    padding: 8px 8px 8px 0;
}
.search {
    /* position: absolute;
    top: 0;
    right: 0; */

}
.search > svg {
    display: flex;
    width: 16px;
    height: 16px;
}
.search > svg > path {}
.cross > span {
    display: flex;
    width: 20px;
    height: 1px;
    border: 1px solid var(--darkGrey);
    border-radius: 5px;
    margin-left: 8px;
    cursor: pointer;
    /* display: none; */
}
.cross > span:first-child {
    transform: rotate(-45deg) translate(1px, 3px);
}
.cross > span:nth-child(2) {
    transform: rotate(45deg) translate(1px, -2px);
}

/* 
.container > input {
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 95%;
    height: 50px;
    margin: 20px;
    padding-left: 50px;
    font-size: 15px;
}

.container > input::placeholder {
    color: #c5c5c5;
}

.search {
    position: absolute;
    top: 36px;
    left: 36px;
}

.search > svg {
    fill: #0098FF;
    stroke: #0098FF;
  }

.hide_for_desktop {
    display: block;
} */

@media screen and (max-width: 1000px) {
    .container > input {
        width: 100%;
        margin: 0;
        height: 56px;
        padding: 16px 0 16px 16px;
    }
    .cross > span {
        display: none;
    }
    .control {
        padding: 0;
    }
    .search {
        padding: 16px 16px 16px 0;
    }
}