.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 74px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
}
.containerButton {
    position: relative;
    display: flex;
    width: 40px;
    justify-content: space-between;
}
.containerButton > figure {
    display: flex;
    align-items: center;
}
/* dropdown list */
.dropdownList {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 51px;
    font-size: 14px;
    padding: 8px 0;
    color: var(--darkestGrey);
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}
.dropdownList > li {
    padding: 6px 0;
    transition: 300ms;
}
.dropdownList > li:hover {
    padding: 6px 16px;
    background-color: var(--ligthGray);
}
